.searchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%
}

.errorMsg{
    color: red;
    text-align: center;
    height: 20px;
    overflow-wrap: break-word;
}

.searchContainer input{
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
    padding: 3px;
}